/*Global CSS*/
html, body {
    min-height: 100vh;
    color: #98a6ad;
    background-color: #f8fafd;
    margin: 0;
}

ul.header-right {
    list-style-type: none;
    height: fit-content;
    align-items: center;
    height: 100%;
    margin: 0;
}

/*SideBar*/
.side-bar {
    background-color: #313a46;
    max-width: 18rem;
    height: 100vh;
    overflow: scroll;
}

.nav-link.side {
    color: #b8bec5;
}

.nav-link.side.active {
    background-color: #85a6d3!important;
    border-radius: 1rem;
}

.nav-link.side:hover {
    font-size: 1.4rem;
}

/*Header*/
.custom-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    box-shadow: 0px 1px 10px 1px #d3dee9;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f6f8fa;
}

.link-normal {
    color: #899ab3;
}

.link-normal:hover {
    color: #85a6d3;
}

.btn-success {
    background-color: #85a6d3!important;
    border-color: #85a6d3!important;
}



/*For Mid Size Screens*/
@media only screen and (max-width: 968px){

    /*hide side bar and make it smaller*/
    .side-bar {
        max-width: 8rem;
    }

    .nav-link.side {
        text-align: center;
    }
    .hide-mid {
        display: none;
    }
}

/*For Small Screens*/
@media only screen and (max-width: 454px){

    /*hide side bar and make it smaller*/
    .side-bar {
        display: none!important;
    }
}

