html, body {
    min-height: 100vh;
    color: #98a6ad;
    margin: 0;
}

/*SideBar*/
.side-bar {
    background-color: #313a46;
    max-width: 18rem;
    height: 100vh;
    overflow: scroll;
}

.nav-link.side {
    color: #b8bec5;
}

.nav-link.side.active {
    background-color: #85a6d3!important;
    border-radius: 1rem;
}

.nav-link.side:hover {
    font-size: 1.4rem;
}

/*For Mid Size Screens*/
@media only screen and (max-width: 968px){

    /*hide side bar and make it smaller*/
    .side-bar {
        max-width: 8rem;
    }

    .nav-link.side {
        text-align: center;
    }
    .hide-mid {
        display: none;
    }
}

/*For Small Screens*/
@media only screen and (max-width: 454px){

    /*hide side bar and make it smaller*/
    .side-bar {
        display: none!important;
    }
}

