html, body {
    min-height: 100vh;
    color: #98a6ad;
    margin: 0;
}

.side-bar {
    background-color: #313a46;
    max-width: 18rem;
    height: 100vh;
    overflow: scroll;
}

.nav-link {


}

.nav-link.active {
    background-color: #4d8be2!important;
    border-radius: 0.75rem;
}

.nav-link:hover {
    font-size: 1.4rem;
    
}

/*For Mid Size Screens*/
@media only screen and (max-width: 968px){
    
    /*hide side bar and make it smaller*/
    .side-bar {
        max-width: 8rem;
    }
    .hide-mid {
        display: none;
    }
}
