html {
    background-color: white;
}
body {
    display: flex;
    background-color: white!important;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div.container-fluid {
    margin-right: 0rem!important;
}
.chart {
    position: relative;
    width: 100%;
    min-height: 95vh;
    padding: 4rem!important;
}

div.no-pad {
    margin: 0rem!important;
}
@media (max-width: 1200px) {
    div.clear {
        display: none !important;
    }

    div.chart {
        margin: 0 !important;
        width: auto!important;
    }

}

@media (max-width: 800px) {
}
