.form-control {
    background-color: #f5f8f9;
  }
.btn-primary {
  display: block;
    background-color: #5a9cca!important;
    border-color: #296993!important;
    box-shadow: 0px 2px 6px 0px #85a6d3;
}

.btn-primary:disabled {
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.568);

}

.head {
  color: #adafb1;
  font-family: 'Quicksand', sans-serif;

}

.custom {
    background-color: #fbfeff!important;
    border-radius: 0.5rem!important;
    border: 1px solid rgb(206, 202, 202);
}

.custom::placeholder {
    color: rgb(141, 141, 141);
    font-family: 'Barlow', sans-serif!important;
}

.heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
}

.me-5 {
    margin-right: 16rem!important;
}

@media (min-width: 992px) {
.lhs {
  border-left: 0.5px solid #adafb1;

}
}