html, body {
    min-height: 100vh;
    color: #98a6ad;
    margin: 0;
}

.navbar {
    box-shadow: 0px 10px 8px -5px rgb(231, 230, 230);
}

.nav-link:hover {
    color: #3585f9;
}

hr {
    width: 75%;
    margin: 0 auto;
}

.dropdown-menu {
    min-width: fit-content;
}

.dropdown-menu hr {
    transform: translate(18%, 0%);
    
}

@media only screen and (max-width: 1027px) {
    span {
        display: none;
    }
    .fit {
        width: fit-content;
    }

}
